#!/bin/sh
#
# bitbucket     Startup script for Bitbucket.
#
# chkconfig: 2345 85 28
# description: Initscript for Atlassian Bitbucket

### BEGIN INIT INFO
# Provides:       bitbucket
# Required-Start: $local_fs $network $syslog
# Required-Stop:  $local_fs $syslog
# Should-Start:   $syslog
# Should-Stop:    $network $syslog
# Default-Start:  2 3 4 5
# Default-Stop:   0 1 6
# Short-Description: Initscript for Atlassian Bitbucket
# Description: Automatically start Atlassian Bitbucket when the system starts up.
#              Provide commands for manually starting and stopping Bitbucket.
### END INIT INFO
#
# Author: Billy Wilson
#         &lt;billybob.wilson AT gmail.com&gt;.

# Source function library
. /etc/rc.d/init.d/functions

# RUNUSER: The user to run BITBUCKET as
RUNUSER=<%= @user %>

# BITBUCKET_INSTALLDIR: The path to the BITBUCKET installation directory
BITBUCKET_INSTALLDIR="<%= @install_root %>/current"

# BITBUCKET_BINDIR: The path to the BITBUCKET installation binaries
BITBUCKET_BINDIR="${BITBUCKET_INSTALLDIR}/bin"

# BITBUCKET_HOME: The path to the BITBUCKET home directory
BITBUCKET_HOME="<%= @bitbucket_home %>"

# BITBUCKET_PID: The path to the BITBUCKET PID file
BITBUCKET_PID="${BITBUCKET_HOME}/log/bitbucket.pid"

# For SELinux we need to use 'runuser' instead of 'su'
if [ -x /sbin/runuser ]; then
    SU=runuser
else
    SU=su
fi

# Set defaults for BITBUCKET name and description
NAME=bitbucket
DESC="Atlassian BITBUCKET"

# Read configuration variable file if present
[ -r /etc/sysconfig/${NAME} ] && . /etc/sysconfig/${NAME}

# Function to run commands as $RUNUSER with $BITBUCKET_HOME exported
run_with_home() {
    if [ "${RUNUSER}" != "${USER}" ]; then
        $SU - "${RUNUSER}" -c "${BITBUCKET_BINDIR}/${1}"
    else
        ${BITBUCKET_BINDIR}/${1}
    fi
}

script_result=0

pid() {
  _pid=`cat "${BITBUCKET_PID}"`
  echo $_pid
}

start(){
    echo "Starting Bitbucket" >> /tmp/bitbucket.log
    [ -x "${BITBUCKET_BINDIR}/start-bitbucket.sh" ] || exit 5

    BITBUCKET_START="Starting ${NAME} service: "

    echo "Checking for pid" >> /tmp/bitbucket.log
    if [ -e ${BITBUCKET_PID} ]; then
        echo "PID Found" >> /tmp/bitbucket.log
        echo $"${NAME} is already running as PID `cat ${BITBUCKET_PID}` (or the PID file is dead)."
        echo_failure
        echo
        exit 1
    else
        echo "PID not found" >> /tmp/bitbucket.log
        echo -n "${BITBUCKET_START}"
        run_with_home start-bitbucket.sh > /dev/null
        sleep 10
        pid=$(pid)
        echo "PID == ${BITBUCKET_PID}" >> /tmp/bitbucket.log
        if [ "x$pid" != x ]; then
            echo "Bitbucket success" >> /tmp/bitbucket.log
            success "${BITBUCKET_START}"
            echo
        else
            echo "Bitbucket failed" >> /tmp/bitbucket.log
            failure "${BITBUCKET_START}"
            echo
            script_result=1
        fi
    fi
}

stop(){
    echo "Stopping Bitbucket" >> /tmp/bitbucket.log
    [ -x "${BITBUCKET_BINDIR}/stop-bitbucket.sh" ] || exit 5

    echo -n $"Stopping ${NAME} service: "

    echo "Search for Bitbucket lock" >> /tmp/bitbucket.log
    if [ -e "${BITBUCKET_HOME}/.lock" ]; then
        echo "Stopping Bitbucket after lock" >> /tmp/bitbucket.log
        run_with_home stop-bitbucket.sh > /dev/null
        ret=$?
        if [ $ret -eq 0 ]; then
            echo_success
        else
            echo_failure
            script_result=1
        fi
    else
        echo "No Bitbucket lock file" >> /tmp/bitbucket.log
        # not running; per LSB standards this is "ok"
        echo_success
    fi
    echo
}

restart(){
    stop
    start
}

condrestart() {
    [ -e "${BITBUCKET_HOME}/.lock" ] && restart || :
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    status -p "${BITBUCKET_PID}" BITBUCKET
    script_result=$?
    ;;
  restart)
    restart
    ;;
  condrestart|try-restart)
    condrestart
    ;;
  *)
    echo $"Usage: $0 {start|stop|status|restart|condrestart|try-restart}" >&2
    exit 2
esac

exit $script_result