[Unit]
Description=Atlassian Bitbucket Server Service
After=syslog.target network.target

[Service]
Environment=JAVA_HOME=<%= @java_home %>
Environment=BITBUCKET_HOME=<%= @bitbucket_home %>
Type=forking
User=bitbucket
ExecStart=<%= @install_root %>/current/bin/start-bitbucket.sh
ExecStop=<%= @install_root %>/current/bin/stop-bitbucket.sh

[Install]
WantedBy=multi-user.target
