#!/bin/sh
#
# bitbucket startup script.
#
# $FreeBSD$
#
# Make sure you have the bitbucket user and bitbucket home or set them below accordingly!

# PROVIDE: bitbucket
# REQUIRE: NETWORKING SERVERS
# KEYWORD: shutdown

# Add the following lines to /etc/rc.conf to enable bitbucket:
# bitbucket_enable (bool):      Set to "YES" to enable bitbucket
# bitbucket_args (str):         Optional arguments to bitbucket
# bitbucket_log_stdout (str)       bitbucket log output stdout, filename.
# bitbucket_log_stderr (str)       bitbucket log output stderr, filename.
#

. /etc/rc.subr

name="bitbucket"
rcvar=bitbucket_enable

load_rc_config $name

bitbucket_name='bitbucket'
bitbucket_enable="${bitbucket_enable:-"NO"}"
bitbucket_args="${bitbucket_args:-""}"
bitbucket_sleep="${bitbucket_sleep:-"5"}"
bitbucket_kill9="${bitbucket_kill9:-""}"
bitbucket_additional_killall="${bitbucket_additional_killall:-""}"
bitbucket_user="<%= @user %>"
bitbucket_home="${bitbucket_home:-<%= @bitbucket_home %>}"
bitbucket_root="${bitbucket_root:-<%= @install_root %>/current}"
bitbucket_logdir=${BITBUCKET_HOME}/logs

start_cmd="bitbucket_start"
stop_cmd="bitbucket_stop"
status_cmd="bitbucket_status"

start_precmd="${name}_precmd"
stop_precmd="${name}_precmd"

extra_commands="status"

pidfile=${bitbucket_home}/log/bitbucket.pid

bitbucket_precmd() {
  failed=0
  if [ ! -d /proc ] ; then
    echo "procfs mount is not present, Java requires the procfs mount"
    failed=10
  fi

  if [ ! -d /dev/fd ] ; then
    echo "fdescfs mount is not present, Java requires the fdescfs mount"
    failed=10
  fi

  if [ $failed -gt 0 ] ; then
    exit ${failed}
  fi
}

bitbucket_status() {
  if [ ! -f ${pidfile} ]; then
    return 1
  else
    return 0
  fi
}

bitbucket_start () {
  if [ -f ${pidfile} ]; then
    pid=`cat ${pidfile}`
    echo "Bitbucket is already running (${pid})"
    exit 0
  fi

  if [ ! -d "${bitbucket_logdir}" ]; then
    install -d -o ${bitbucket_user} ${bitbucket_logdir}
  fi

  echo "Starting bitbucket."
  daemon -u ${bitbucket_user} ${bitbucket_root}/bin/start-bitbucket.sh ${bitbucket_args}

  #sleep ${bitbucket_sleep}  # let daemon(8) and sh(1) finish before executing pgrep(1)
  #pgrep -U ${bitbucket_user} > ${pidfile}
  #chown ${bitbucket_user} $pidfile
}

bitbucket_stop () {
  # Subvert the check_pid_file procname check.
  if [ -f ${pidfile} ]; then
    daemon -u ${bitbucket_user} ${bitbucket_root}/bin/stop-bitbucket.sh
    kill `cat ${pidfile}`
    # Only if we aware that our setup can hangs, and only after trying simple kill, we can kill it hard way.
    if [ ! -z "${bitbucket_kill9}" ]; then
        sleep ${bitbucket_sleep}
        kill  -9 `cat ${pidfile}`
    fi

    # In some setups, bitbucket can spawn some child processess, which could prevent it from stopping, and freeing net ports.
    # Let's blindly kill them all, since we are really know what we are doing.
    if [ ! -z "${bitbucket_additional_killall}" ]; then
        sleep ${bitbucket_sleep}
        killall ${bitbucket_additional_killall}
    fi
  fi
}

run_rc_command "$1"
